@import url("https://fonts.googleapis.com/css?family=Roboto");

*{
	padding: 0px;
	margin: 0px;
	user-select: none;
}
img{
	border: 1px solid black;
	width: 100%;
	height: auto;
}
img:hover{
	transform: scale(1.1);
	transition: 0.2s ease;
}
label{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 2em;
}
p{
	font-family: 'Roboto', sans-serif;
	margin: 2% 0%;
	font-weight: bold;
	font-size: 1em;
}
.text-white{
	color: #fff;
	font-size: 1.2em;
}
.text-center{
	text-align: center;
}
header{
	background-color: #00316b;
}
.header-box{
	width: 80%;
	margin: 0% auto;
	padding: 0% 0%;
}
.header-box::after{
	content: '';
	clear: both;
	display: block;
}
.toggle{
	display: none;
	line-height: 60%;
	font-size: 2em;
	text-align: right;
	color: #fff;
	margin: 2% 1%;
}
.toggle:hover{
	cursor: pointer;
}
nav > ul{
	line-height: 60%;
	text-align: right;
}
nav > ul > li{
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 3% 2%;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}
nav > ul > li > a{
	color: #fff;
	text-decoration: none;
}
nav > ul > li:hover{
	background-color: #000;
}
main{
	margin-top: 5%;
}
.row1{
	position: relative;
}
.row1-box{
	width: 80%;
	margin: 0% auto;
	padding: 5% 0px 0px 0px;
	position: relative;
}
.row1-box-animate{
	width: 400px;
	height: 400px;
	margin: 0% auto;
	position: relative;
}
.row1-box1{
	width: 90%;
	height: 90%;
	margin: 0px auto;
	padding: 1%;
	border-style: solid;
	border-width: 40px;
	border-color: #000 #fff #000 #fff;
	border-radius: 50%;
	position: absolute;
	top: -6%;
	left: -6%;
	transform: translate(-50%,-50%);
}
.row1-box2{
	width: 70%;
	height: 70%;
	margin: 0% auto;
	padding: 1%;
	border-style: solid;
	border-width: 40px;
	border-color: #fff #000 #fff #000;
	border-radius: 50%;
	position: absolute;
	top: 4%;
	left: 4%;
	transform: translate(-50%,-50%);
}
.row1-box3{
	width: 50%;
	height: 50%;
	margin: 0% auto;
	padding: 1%;
	border-style: solid;
	border-width: 40px;
	border-color: #000 #fff #000 #fff;
	border-radius: 50%;
	position: absolute;
	top: 14%;
	left: 14%;
	transform: translate(-50%,-50%);
}
.row1-box4{
	border: 1% solid #000;
	width: 50%;
	height: 50%;
	margin: 0px auto;
	border-radius: 50%;
	background-image: url(../img/a.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.row-center{
	text-align: center;
	margin: 2% auto;
}
.row-center > ul > li{
	display: inline-block;
	margin: 40px 5px 10px 5px;
}
.social-media-icon{
	font-size: 250%;
}
.btn{
	width: 30%;
	border: none;
	background-color: yellowgreen;
	padding: 1%;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
}
.row2{
}
.row2-box{
	background-color: #ccc;
	width: 80%;
	margin: 0% auto;
	padding: 5% 0%;
}
.row2-box::after{
	content: '';
	clear: both;
	display: block;
}
.row3{
}
.row3-box{
	width: 80%;
	margin: 0% auto;
	padding: 5% 0%;
}
.row3-box::after{
	content: '';
	clear: both;
	display: block;
}
.row3-box-padding{
	padding: 5%;
	position: relative;
}
footer{
	background-color: #000;
}
.footer-box{
	width: 80%;
	height: auto;
	margin: 0% auto;
	padding: 1% 0%;
}
.footer-box::after{
	content: '';
	clear: both;
	display: block;
}
@media only screen and (min-width: 769px){
	.col-lg-1{
		float: left;
		width: 8.33%;
	}
	.col-lg-2{
		float: left;
		width: 16.66%;
	}
	.col-lg-3{
		float: left;
		width: 25%;
	}
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
	.col-lg-5{
		float: left;
		width: 41.66%;
	}
	.col-lg-6{
		float: left;
		width: 50%;
	}
	.col-lg-7{
		float: left;
		width: 58.33%;
	}
	.col-lg-8{
		float: left;
		width: 66.66%;
	}
	.col-lg-9{
		float: left;
		width: 75%;
	}
	.col-lg-10{
		float: left;
		width: 83.33%;
	}
	.col-lg-11{
		float: left;
		width: 91.66%;
	}
	.col-lg-12{
		float: left;
		width: 100%;
	}
}
@media only screen and (min-width: 426px) and (max-width: 768px){
	.col-md-1{
		float: left;
		width: 8.33%;
	}
	.col-md-2{
		float: left;
		width: 16.66%;
	}
	.col-md-3{
		float: left;
		width: 25%;
	}
	.col-md-4{
		float: left;
		width: 33.33%;
	}
	.col-md-5{
		float: left;
		width: 41.66%;
	}
	.col-md-6{
		float: left;
		width: 50%;
	}
	.col-md-7{
		float: left;
		width: 58.33%;
	}
	.col-md-8{
		float: left;
		width: 66.66%;
	}
	.col-md-9{
		float: left;
		width: 75%;
	}
	.col-md-10{
		float: left;
		width: 83.33%;
	}
	.col-md-11{
		float: left;
		width: 91.66%;
	}
	.col-md-12{
		float: left;
		width: 100%;
	}
	label{
		font-size: 1.5em !important;
	}
	p{
		font-size: 0.9em !important;
	}
	.header-box{
		width: 100% !important;
	}
	.row1-box, .row2-box, .row3-box, .row4-box, .footer-box{
		width: 100% !important;
	}
	.toggle{
		display: block !important;
	}
	nav{
		display: none;
	}
	nav > ul{
		line-height: 60% !important;
	}
	nav > ul > li{
		width: 100%;
		text-align: center;
	}
	.nav-active{
		display: block;
	}
	.row1-box-animate{
		width: 300px !important;
		height: 300px !important;
	}
	.row1-box1{
		border-width: 30px !important;
		width: 90% !important;
		height: 90% !important;
		top: -6% !important;
		left: -6% !important;
	}
	.row1-box2{
		border-width: 30px !important;
		width: 70% !important;
		height: 70% !important;
		top: 4% !important;
		left: 4% !important;
	}
	.row1-box3{
		border-width: 30px !important;
		width: 50% !important;
		height: 50% !important;
		top: 14% !important;
		left: 14% !important;
	}
	.row-center > ul > li{
		margin: 40px 5px 0px 5px !important;
	}
	.social-media-icon{
		font-size: 200% !important;
	}
	.btn{
		width: 40% !important;
		font-size: 0.9em !important;
	}
}
@media only screen and (min-width: 0px) and (max-width: 425px){
	.col-sm-1{
		float: left;
		width: 8.33%;
	}
	.col-sm-2{
		float: left;
		width: 16.66%;
	}
	.col-sm-3{
		float: left;
		width: 25%;
	}
	.col-sm-4{
		float: left;
		width: 33.33%;
	}
	.col-sm-5{
		float: left;
		width: 41.66%;
	}
	.col-sm-6{
		float: left;
		width: 50%;
	}
	.col-sm-7{
		float: left;
		width: 58.33%;
	}
	.col-sm-8{
		float: left;
		width: 66.66%;
	}
	.col-sm-9{
		float: left;
		width: 75%;
	}
	.col-sm-10{
		float: left;
		width: 83.33%;
	}
	.col-sm-11{
		float: left;
		width: 91.66%;
	}
	.col-sm-12{
		float: left;
		width: 100%;
	}
	label{
		font-size: 1em !important;
	}
	p{
		font-size: 0.6em !important;
	}
	.header-box{
		width: 100% !important;
	}
	.row1-box, .row2-box, .row3-box, .row4-box, .footer-box{
		width: 100% !important;
	}
	.toggle{
		display: block !important;
		font-size: 1em !important;
	}
	nav{
		display: none;
	}
	nav > ul{
		line-height: 60% !important;
	}
	nav > ul > li{
		width: 100%;
		text-align: center;
	}
	.nav-active{
		display: block;
	}
	.row1-box-animate{
		width: 200px !important;
		height: 200px !important;
	}
	.row1-box1{
		border-width: 20px !important;
		width: 90% !important;
		height: 90% !important;
		top: -6% !important;
		left: -6% !important;
	}
	.row1-box2{
		border-width: 20px !important;
		width: 70% !important;
		height: 70% !important;
		top: 4% !important;
		left: 4% !important;
	}
	.row1-box3{
		border-width: 20px !important;
		width: 50% !important;
		height: 50% !important;
		top: 14% !important;
		left: 14% !important;
	}
	.row-center > ul > li{
		margin: 20px 5px 0px 5px !important;
	}
	.social-media-icon{
		font-size: 150% !important;
	}
	.btn{
		width: 50% !important;
		font-size: 0.6em !important;
	}
}